<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

«meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Document</title>

</head>
<body>
<h1><%= @user.name %>, your order from MyFakeStore.com is on it's way!</h1>
<h3>0rder Details</h3>
<div>
<%= @shipment.item %>
<%= @shipment.price %>
</div>
</body>
</html>